/*
    credit: Manu Moreale
    link: https://manuelmoreale.com/typography-and-spacing-in-css
*/
@mixin aku-type {
    $baseSize: 0.6rem; // Base Font Size 15/25;
    $baseRatio: .8 , 1 , 1.25 , 1.563 , 1.953 , 2.441;
    font-size: $baseSize * nth($baseRatio , 2);
    font-family: inherit;
    line-height: 1rem;
}

$bg: #fff;
$primary-text: #434860;
$emphasis-text: #191B24;
$alt-text: #f3ce32;
$blue: #57c4e5;
$coral: #ff8360;

html {
    @include aku-type;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: $primary-text;
}

a {
    color: $emphasis-text;
    font-weight: 500;
    text-decoration: none;
    font-style: italic;
}

.z-text {
  transform: rotateX(30deg);
}

.z-layer:not(:first-child) {
	color: #b82800;
}

.serif {
    font-family: 'EB Garamond', serif;
}

.sans_serif {
    font-family: 'Roboto', sans-serif;
}

.welcome {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 23rem;
    max-width: 600px;

    &__image {
        position: absolute;
        width: 20rem;
        max-width: 600px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__greeting {
        position: absolute;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 500;
        font-style: italic;
        color: $alt-text;
        width: 15rem;
        max-width: 400px;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &__name {
        position: absolute;
        font-size: 5rem;
        font-weight: 600;
        color: $coral;
        bottom: 1rem;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.blurb {
    max-width: 325px;
    text-align: center;
    margin: 0 auto;
    font-size: .65rem;
    line-height: .75rem;
}

.blog {
    position: relative;
    margin: 3rem auto 0;
    max-width: 700px;
    font-size: .75rem;

    &__header {
        color: $emphasis-text;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid $primary-text;
        padding-bottom: .15rem;
    }

    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__post {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        margin: 0;
    }

    &__title {
        display: inline;
        justify-self: start;
        color: $primary-text;
    }

    &__date {
        display: inline;
        margin: 0;
        justify-self: end;
    }
}

.post {
    margin: 0 auto;
    max-width: 750px;
    font-size: .75rem;

    &__content {
        min-height: 33vh;
        border-bottom: 3px solid #aaa;
        margin-bottom: 25px;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 28px;
    }

    .welcome {
        max-width: 600px;
    }
}
