/*
    credit: Manu Moreale
    link: https://manuelmoreale.com/typography-and-spacing-in-css
*/
@mixin aku-type {
    $baseSize: 0.6rem; // Base Font Size 15/25;
    $baseRatio: .8 , 1 , 1.25 , 1.563 , 1.953 , 2.441;
    font-size: $baseSize * nth($baseRatio , 2);
    font-family: inherit;
    line-height: 1rem;
}

@font-face {
    font-family: "Stamps";
    src: url('../fonts/Stamps-Regular.ttf');
}

@font-face {
    font-family: "Hind";
    src: url('../fonts/Hind-Variable.ttf');
}

$bg: #fff;
$primary-text: #434860;
$emphasis-text: #191B24;
$alt-text: #f3ce32;
$blue: #57c4e5;
$coral: #ff8360;

.flowerb {
  mask: 
    linear-gradient(0,#0000 60px,#000 0) 0 30px,
    radial-gradient(30px,#000 calc(100% - 1px),#0000) 50%/55.5px 60px repeat space
}

/* Animation rule */
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

html {
    @include aku-type;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    color: $primary-text;
}

body {
    margin: 0;
}

a {
    color: $emphasis-text;
    font-weight: 500;
    text-decoration: none;
    font-style: italic;
}

.z-text {
  transform: rotateX(30deg);
}

.z-layer:not(:first-child) {
	color: #b82800;
}

.serif {
    font-family: 'Stamps', serif;
}

.sans_serif {
    font-family: 'Hind', sans-serif;
}

.welcome {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 23rem;
    max-width: 600px;

    &__image {
        position: absolute;
        width: 20rem;
        max-width: 600px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__greeting {
        position: absolute;
        font-size: 1.5rem;
        line-height: 1.5rem;
        font-weight: 600;
        font-style: italic;
        color: $alt-text;
        width: 15rem;
        max-width: 400px;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &__name {
        position: absolute;
        font-size: 7.5rem;
        font-weight: 600;
        color: $coral;
        bottom: -1rem;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.blurb {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: .75rem;
    line-height: .75rem;

    p {
        margin: .15rem 0;
    }
}

.note {
    margin: 50px auto 25px;
    text-align: center;
    font-size: 2rem;
}

.vignettes {
    background-color: $blue;
    display: flex;
    padding: 50px 0;
    overflow: hidden;
    width: 100%;
    user-select: none;

    &__marquee {
        display: flex;
        flex-shrink: 0;
        min-width: 100%;
        justify-content: space-around;
        animation: scroll-left calc(15s * 9) linear infinite;
    }

    &__hoverPause:hover
    &__marquee {
        animation-play-state: paused;
    }
}


.vignette {
    position: relative;
    margin: 0;
    color: $emphasis-text;
    display: grid;
    width: 100%;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    column-gap: 10px;
    align-items: center;

    &__image {
        width: 90%;
        margin: 10px auto;
        border-radius: 25px;
        border: 5px solid $alt-text;
    }

    &__content {
        background-color: $blue;
        color: $bg;
        font-weight: 600;
        font-size: .6rem;
        border-left: 2.5px solid $alt-text;
        padding: 5px 10px;
        display: grid;
        width: calc(90% - 20px);
        margin: 0 auto;
        grid-template-rows: auto auto auto;
        height: fit-content;
        align-self: center;
    }

    &__text {
        margin: 0;
    }

    &__date {
        display: inline;
        margin: .25rem 0 0 0;
        justify-self: left;
    }

    &__weekday {
        margin: 0;
    }
}

.column {
    width: 90%;
    max-width: 1080px;
    margin: 2rem auto;

    &__content {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    &__image {
        width: 100%;
    }

    &__text {
        background-color: #fafafa;
        font-size: .6rem;
        border-left: 2.5px solid $alt-text;
        padding: 5px 10px;
        width: calc(90% - 20px);
        margin: 0 auto;
    }
}

.post {
    margin: 3rem auto;
    max-width: 750px;
    font-size: .85rem;

    &__content {
        min-height: 33vh;
        border-bottom: 3px solid #aaa;
        margin-bottom: 25px;
    }
}

.recommendations {
    margin: 3rem auto 0;
    max-width: 600px;
    font-size: .75rem;

    &__lists {
        border-bottom: 3px solid #aaa;
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin-bottom: 2rem;
    }

    &__header {
        color: $emphasis-text;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 1px solid $primary-text;
        padding-bottom: .15rem;
    }

    a {
        color: $primary-text;
    }
}

@media screen and (min-width: 600px) {
    html {
        font-size: 28px;
    }

    .welcome {
        max-width: 600px;
    }

    .blurb {
        font-size: .65rem;
    }

    .vignette {
        grid-template-rows: auto;
        grid-template-columns: 5fr 4fr;
        column-gap: 25px;

        &__image {
            max-width: 500px;
            width: 100%;
            height: auto;
            margin: 10px 0;
            justify-self: end;
        }

        &__content {
            width: 400px;
            justify-self: start;
            display: grid;
            grid-template-rows: auto auto auto;
        }
    }

    .post {
        font-size: .75rem;
    }

    .column {
        &__content {
            grid-template-rows: auto;
            grid-template-columns: 2fr 1fr;
        }

        &__text {
            height: fit-content;
            align-self: center;
        }
    }
}
